footer {
  .thicc {
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .reverse {
    background-color: #fff !important;
    padding-bottom: 25px;

    h2 {
      color: #c10b25 !important;
    }
  }

  .shortcut-buttons {
    padding: 50px 0;
    background-color: $kleur1;

    h2 {
      color: $white;
      text-align: center;
      margin: 0 0 35px 0;
      font-size: 3rem;

      @media (max-width: $screen-lg-max) {
        text-align: left;
      }

      @media (max-width: $screen-md-max) {
        font-size: 2rem;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: $screen-lg-max) {
        flex-direction: column;
        align-items: flex-start;
      }

      .btn {
        margin-right: 15px;

        @media (max-width: $screen-lg-max) {
          width: 50%;
          display: flex;
          margin-bottom: 15px;
          margin-right: 0;
        }

        @media (max-width: $screen-md-max) {
          width: 75%;
        }

        @media (max-width: $screen-sm-max) {
          width: 100%;
        }

        &:last-child {
          margin: 0;
        }

        &.alternative,
        &.whatsapp {
          border-color: $white;
          color: $white;

          &:hover {
            color: $kleur1;
            background-color: $white;
          }
        }

        &:not(.alternative) {
          background-color: $white;
          color: $kleur1;
        }

        i {
          margin-left: auto;
        }
      }
    }
  }

  .logos {
    position: relative;
    height: 300px;
    display: flex;
    align-items: center;

    h2 {
      &.text-backdrop {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 6rem;
        opacity: 0.2;
        line-height: 6rem;
        z-index: 1;
        margin: 0;

        @media (max-width: $screen-lg-max) {
          font-size: 4rem;
        }

        @media (max-width: $screen-sm-max) {
          font-size: 2rem;
        }
      }
    }

    .container {
      position: relative;
      z-index: 200;
    }

    .slide {
      svg,
      img {
        width: 100%;
        display: block;
      }
    }
  }

  .footer {
    padding: 25px 0;
    background-color: #efefef;

    h3 {
      color: $black;
    }

    p {
      text-decoration: none;
      font-size: 0.9rem;
      position: relative;
      color: black;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        a {
          color: $black;
          text-decoration: none;
          font-size: 0.9rem;
          position: relative;

          &:hover {
            color: $kleur1;

            &:after {
              width: 100%;
              background-color: $kleur1;
            }
          }

          &:after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 50%;
            width: 0%;
            height: 1px;
            background-color: $black;
            transform: translateX(-50%);
            @include transition();
          }
        }

        ul {
          display: none; // hide for now.
        }
      }
    }

    .social-container {
      @include ycenter();

      span {
        font-size: 1.1rem;
        font-weight: bold;
        color: $black;
        margin-right: 15px;
      }

      a {
        color: $black;
        font-size: 2rem;
        @include transition();

        &:hover {
          color: $kleur1;
        }
      }
    }
  }

  .middle-footer {
    padding: 50px 0;

    h2 {
      text-align: center;
      font-size: 24px;
      color: $black;
      margin: 0 0 15px;
    }

    .sponsor-slider {
      .slide {
        img {
          filter: grayscale(1);
        }
      }
    }
  }

  .bottom-footer {
    padding: 10px 0;
    border-top: 1px solid #707070;

    p {
      margin: 0;
      color: $black;
      @include ycenter();

      &.center-footer-line {
        text-align: center;
        justify-content: center;
      }

      &.end-footer-line {
        text-align: right;
        justify-content: center;

        a {
          margin-left: 15px;

          svg {
            width: 25px;
            display: block;
          }
        }
      }
    }
  }
}
