form {

    .form-group {
        margin-bottom: 15px;

        >label {
            font-weight: bold;
            display: block;
            // margin-bottom: 5px;
            font-size: 23px;
        }

        .wpcf7-form-control-wrap {
            margin-top: 10px;
            display: block;
        }

        input:not([type=checkbox]):not([type=radio]):not([type=submit]),
        textarea {
            padding: 10px;
            border: 1px solid #ccc;
            display: block;
            width: 100%;
            font-family: $font;
        }
    }
}