header .menu-primary-container {

  @media(max-width: $screen-navigation-max) {
    // display: none;
    position: fixed;
    top: 89px;
    right: 0;
    padding-top: 50px;
    width: 100%;
    height: calc(100% - 89px);
    overflow: auto;
    background: #fff;
    z-index: 100;
    opacity: 0;
    transform: translateX(100%);
    pointer-events: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    @include transition();
  }

  &.is-active {
    opacity: 1;
    transform: translateX(0%);
    pointer-events: auto;
  }

  // we want to target the main nav only.
  // sub menu styling will come later in this file.
  >ul {
    list-style: none;
    margin: 0;
    padding: 0;
    @include ycenter();

    @media(max-width: $screen-navigation-max) {
      flex-direction: column;
      align-items: start;
      //justify-content: center;
    }


    li {
      margin: 0;
      position: relative;

      @media(max-width: $screen-navigation-max) {
        width: 100%;
      }

      &.current-menu-item,
      &.current-menu-ancestor {
        a {
          background-color: $kleur1-opacitized;
        }
      }

      &.menu-item-has-children {
        >a {
          padding-right: 35px;
          position: relative;

          &:after {
            @include font-awesome('\f0d7');
            font-weight: 900;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }

      &:hover {
        >ul {
          opacity: 1;
          pointer-events: auto;
        }
      }


      a {
        padding: 15px;
        text-decoration: none;
        color: $black;
        font-size: 1.1rem;
        position: relative;
        @include transition();

        @media(max-width: $screen-lg-max){
          font-size: 16px;
        }

        @media(max-width: $screen-navigation-max) {
          display: block;

          &:after {
            content: "";
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            @include font-awesome('\f054');
          }
        }

        &:hover {
          background-color: $kleur1-opacitized;
        }
      }

      // this is the sub menu styling
      ul {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        list-style: none;
        padding: 0;
        margin: 0;
        min-width: 300px;
        max-width: 100%;
        @include transition();

        @media(max-width: $screen-md-max) {
          position: relative;
          width: calc(100% - 25px);
          left: 25px;
          opacity: 1;
          pointer-events: auto;
        }

        li {
          a {
            display: block;
            background-color: $kleur1-opacitized !important;

            @media(max-width: $screen-lg-max){
              background-color: $white !important;
              &:first-of-type {
                padding-top: 7px;
              }
            }

            &:hover {
              background-color: #f2f2f2 !important;
            }
          }
        }
      }
    }
  }
}